
      <h1>Dismardis</h1>
		<br>
		<br>
		    

<% if session[:Usuario_id] == nil%>
	<p>
		Bienvenidos al sitio web de pedidos para Dismardis.  Por favor iniciar la sesion antes de continuar.  
	</p>
	
	<% else %>
	<p>
		Error - no tienes los permisos para accesar esa ruta.  
	</p>
	<% end %>