<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bienvenido al sistema de pedidos de Dismardis, <%= @usuario.Nombre %></h1>
    <p>
      Lo han registrado a usted al sistema de pedidos de Dismardis. Por favor usar los siguientes datos para ingresar al sistema:<br/>
      
      Usuario: <b><%= @usuario.Username %></b>.<br/>
      Contraseña: <b><%= @usuario.Password %></b>
    </p>
    <p>
      Para entrar al sitio, por favor dirigirse a la siguiente dirección: <%= @url %>.
    </p>
    <p>Por favor no se olvide de cambiar su contraseña a una nueva.<br/><br/>
    	Puede hacer esto ingresando a la opción 'Mi Cuenta' y luego la opción 'Cambiar Password'.
    </p>
  </body>
</html>